.abt__section {
    background: rgb(0,53,102);
    background-image: url("./assets/images/bg.jpg");
  
/* background: linear-gradient(0deg, rgba(0,53,102,1) 8%, rgba(0,8,20,0.938813025210084) 72%); */
    height: 450px;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 20px;
}
.abt__parent_section{
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.full__stack{
    color: #F9855B;
    padding: 20px 0 20px 0;
}
.bg-orange{
    background-color: white;
    width: 50vw;
    border-radius: 10px;
    justify-content: space-around;
    align-items: baseline;
}
.bg-orange a,i {
    /* padding-left: 10px; */
    color: #f54809;
    font-size: 30px;
}
.bg-orange i{
    font-weight: 900;
}
.bg-orange  p{
    color: #f74c0f;
}
.header__one {
    padding-top: 20px;
}
.header__three{
    width: 60%;
    padding: 20px 0 20px 0;
}
.bg-orange a {
    padding-left: 10px;
}
.fa-medium{
    padding-right: 15px;
}
@media (max-width: 567px){
    .abt__section {
        background-image: none;
        height: 500px;
    }
    .abt__parent_section{
        flex-direction: column;
    }
    .header__three{
        font-size: 20px;
        padding: 0 15px 0 15px;
        width: 100%;
    }
    .header__two{
        font-size: 27px;
        padding: 0 15px 0 15px;
    }
    .header__one{
        font-size: 35px;
        padding: 0 15px 0 15px;
        padding-top: 10px;
    }
    .abt__parent_section{
        align-items: center;
    }
    .bg-orange {
        flex-direction: column;
        justify-content: space-around;
        padding: 5px 0 5px 0;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .bg-orange  p{
        font-weight: 900;
        padding-left: 4px;
    }
    .bg-orange a {
        padding-left: 10px;
    }
}
@media (min-width: 567px) and (max-width: 768px){
    .bg-orange {
        width: 91vw;
    }
}