
 .parent_div_nav {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    align-items: center;
    background-color: rgb(24, 23, 23);
}
.nav__top__right__width {
    width: 25vw;
}
.cnb {
    color: #F9855B;
    font-weight: 800;
    font-size: 2rem;
}
.nav__top__right__width a {
    color: white;
}
@media (max-width: 567px ){
    .parent_div_nav {
        display: flex;
        justify-content: space-around;
    }
    .nav__top__right__width {
        width: 50vw;
    }
    .parent_div_nav {
        background: rgb(0,53,102);
        background: linear-gradient(0deg, rgba(0,53,102,1) 8%, rgba(0,8,20,0.938813025210084) 72%);
    }
    footer {
        background: rgb(0,53,102);
    }
    
}
@media (max-width: 1024px){
    .nav__top__right__width {
        width: 50vw;
    }
}
